{% load staticfiles %}

<!DOCTYPE html>

<html lang="es">
<head>
	<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-theme.min.css'%}">
    <title>Estacionamiento</title>
</head>
  <body>
  	<form action="/" method="post">
      <h3>Datos del propietario: </h3>
      {% csrf_token %}
      {{ form.as_p }}
      <h3>Datos del auto: </h3>
      {% csrf_token %}
      {{ formcar.as_p }}
      <h3>Datos del estacionamiento: </h3>
      {% csrf_token %}
      {{ formparking.as_p }}
      <input type="submit" value="Aceptar" />
  	</form>

  </body>

</html>